#backgroundpic {
	width: 100%; 
	position: absolute;
	z-index: -1;
}

#map-canvas {
        width: 500px;
        height: 400px;
        background-color: #CCC;
      }
#googleMap {
	width: 500px;
	height: 500px;
	} 
#Libraries {
	float: right; 
	border-style: groove;
	border-width: 5px;
	border-color: purple;
	padding: 15px;
}
